.c-cast {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: $color-white;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
    margin-top: 3.2rem;

    // screen-md = 48em = 768px
    @include respond-to('min', 'screen-sm') {
      grid-template-columns: repeat(auto-fit, minmax(12.2rem, min-content));
    }
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: $color-gray-700;
    border-radius: 0.8rem;
    padding: 0.9rem 1.2rem;
    border: 2px solid transparent;
    transition: all 0.2s;
    cursor: pointer;

    // screen-md = 48em = 768px
    @include respond-to('min', 'screen-sm') {
      flex-direction: column;
      align-items: flex-start;
      width: 12.2rem;
      padding: 1.2rem 1.2rem 2rem 1.2rem;
    }

    &:hover {
      border-color: $color-primary-300;
    }
  }

  &__item-img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.6rem;

    // screen-md = 48em = 768px
    @include respond-to('min', 'screen-sm') {
      margin: 0 0 1.6rem;
    }
  }

  &__actor {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: $color-white;
    margin-bottom: 0.4rem;
  }

  &__character {
    font-size: 1.2rem;
  }
}
