.c-details-window {
  display: flex;
  flex-direction: column;
  color: $color-text;

  &__header {
    font-size: 1.3rem;
    margin-bottom: 2.4rem;
  }

  &__rating {
    display: flex;
    align-items: center;
    color: $color-white;

    & > span:first-child {
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
  }

  &__title {
    font-size: 3.2rem;
    color: $color-white;
  }

  &__content > section:not(:last-child) {
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: $separator-line--md;
  }
}
