.c-data-input {
  position: relative;
  padding-bottom: 0.35rem;
  border-bottom: 1px solid $color-gray-450;

  &__line {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 0;
    border-radius: 0.5px;
    background: $color-primary-300;
    margin-top: -1px;
    transition: all 0.3s;
  }

  &__input {
    width: 100%;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: inherit;
    line-height: 2rem;
    color: $color-white;
    background: transparent;
    border: none;

    &::-webkit-input-placeholder {
      color: $color-gray-400;
    }

    &:focus {
      outline: none;
    }

    &:focus + .c-data-input__line {
      left: 0;
      width: 100%;
    }
  }
}
