// Color Pallete
$color-primary: #8257e5;
$text-color: #E1E1E6;
$gray-700: #3D3C42;
$black: #121214;
$white: #ffffff;
// Breakpoints
$breakpoints: (
  // 100em = 1600px
  'screen-hg': 100em,
  // 160em = 2560px
  'screen-xhg': 160em
);

$bp-types: (
  'max': max-width,
  'min': min-width,
);
