// Resetting
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

// Base Styles
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: $color-gray-900;
  color: $color-text;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

// Header
.logo {
  width: 6.5rem;
}

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
}
// Hamburguer
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color-gray-700;
  height: 70px;
  padding: 1em;
}

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.top-nav__button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.top-nav__button,
.top-nav__button::before,
.top-nav__button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.top-nav__button::before {
  content: '';
  margin-top: -8px;
}

.top-nav__button::after {
  content: '';
  margin-top: 8px;
}

@media (max-width: 700px) {
  .top-nav__button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
 

}
// end of hamburguer

// Footer
footer {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  background-color: $color-primary-300;
  z-index: 2;

  .link {
    margin-left: 1rem;
    color: $color-white;
  }
}
